@import url(../reindeer/styles.css);

/* For use with SpinnerList widget */
.v-textfield-borderless {
    border:     none;
    background: white; /* Has shading image by default */
    -webkit-border-image: none;
}

.header {
	background:		black;
}